h1 {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    color: #333;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    color: black;
}

#form {
    
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #212529;
}

div.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}
